{% if shows | length > 0 %}
    <h4><span dir="auto">{{ person.name }}</span> is currently involved with</h4>
    {% for show in shows %}
        <div>
            {{ include('ActsCamdramBundle:Person:show-header.html.twig') }}
            <p>{{ show.description | camdram_markdown }}</p>
        </div>
    {% endfor %}
{% endif %}
