{% extends 'ActsCamdramBundle:Organisation:vacancies.html.twig' %}
{% block vacancies_panel_title %}
    <h5>Get involved with shows at {% if requires_article(venue.name) %}the{% endif %} <span dir="auto">{{ venue.name }}</span>:</h5>
{% endblock %}
